a {
    display: table-cell;
    padding-top: 10px;
    color: #3F52B0;
}

br {
    display: none;
}

h2 {
    text-align: center;
}

h3 {
	color: #828282;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding-bottom: 0;
    color: ;
}

hr {
    width: 85%;
    margin-bottom: 15px;
}

#header {
    background-color: white;
    text-align: center;
    padding-bottom: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.HeaderText {
	color: #828282;
}

.biopic {
	padding: 0 10px 0 0;
	width: 185px;
}

#name {
    color: #545454;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 35px;
}

.Role {
    font-size: 18px;
    padding-top: 0px;
    float: left;
}

.welcome-message {
    color: #828282;
    font-size: 18px;
    display: block;
    text-align: right;
    padding: 0;
}

.ContactAnimate {
    opacity: 0;
}

#topContacts {
    list-style: none;
    float: right;
    display: block;
    text-align: right;
    padding: 0;
}

#skills-h3 {
    text-align: left;
    color: #545454;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0;
    display: block;
    padding: 0;
    margin-top: 16px;
}

#skills {
    font-size: 0px;
    padding: 1px 0 0 0px;
    float: left;
}

#workExperience,
#education {
    margin-top: 300px;
    max-height: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
	transition        : .75s ease-out;
	-moz-transition   : .75s ease-out;
	-ms-transition    : .75s ease-out;
	-o-transition     : .75s ease-out;
	-webkit-transition: .75s ease-out;
    overflow: hidden;
}

#workExperience:hover {
    max-height: 999px;
    transition: 1s;
}

#education:hover {
    max-height: 999px;
    transition: 1s;
}

.LightBoxShadow {
    box-shadow: 2px 2px 2px #7F7F7F;
}

.BgColor {
    background-color: #F2F2F2;
}

.BgHoverColor {
    background-color: #E8E8E8;
}

.BgFooter {
    background: #CCCCCC;
    color: #848484;
}

.work-entry p {
    width: 85%;
}

#projects {
    margin-top: 300px;
}

#projects,
.project-entry {
    text-align: center;
    display: inline-block;
}

.project-entry {
    padding: 10px 3%;
}

.CenteredText {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

.date-text {
    display: block;
    float: none;
}

#onlineClass {
    padding: 0px 5% 5px 5%;
}

#mapDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.Fader {
    opacity: 0;
	-webkit-animation          : fadeIn ease-in 1;
	-moz-animation             : fadeIn ease-in 1;
	animation                  : fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode   : forwards;
	animation-fill-mode        : forwards;
	-webkit-animation-duration : .70s;
	-moz-animation-duration    : .70s;
	animation-duration         : .70s;
}

.Fader.One {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay   : 0.5s;
	animation-delay        : 0.5s;
}

.Fader.Two {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay   : 1.2s;
	animation-delay        : 1.2s;
}

.Fader.Three {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay   : 1.5s;
	animation-delay        : 1.5s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media screen and (max-width: 965px) {
	#skills {
	    padding: 1px 30px 0 0px;
	    float: none;
	}
}

@media only screen and (max-width: 840px) {
    #header {
        padding-bottom: 10px;
    }

    .biopic {
    	display: none;
    }
    #skills-h3 {
        display: none;
    }

    #skills {
        float: none;
        margin-top: 6px;
    }

    #topContacts {
        text-align: center;
        float: none;
        display: block;
    }

    .AutoImg {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #name {
        float: none;
        text-align: center;
    }

    .Role {
        display: none;
    }

    .welcome-message {
        display: none;
    }

    hr {
        margin-top: 0px;
    }
}
